# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask instance folder
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
